<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Naive Bayes - Classification</title>
</head>
<body>
    <h1>Choose Classification Method</h1>
    <form action="/classify" method="post">
        <input type="hidden" name="file_path" value="{{ file_path }}">
        <label for="classifier">Choose Classifier:</label>
        <select name="classifier" id="classifier">
            <option value="Multinomial Naive Bayes">Multinomial Naive Bayes</option>
            <option value="Bernoulli Naive Bayes">Bernoulli Naive Bayes</option>
            <option value="Gaussian Naive Bayes">Gaussian Naive Bayes</option>
        </select><br><br>
        <label for="feature_selection">Choose Feature Selection:</label>
        <select name="feature_selection" id="feature_selection">
            <option value="None">None</option>
            <option value="PSO">Particle Swarm Optimization (PSO)</option>
        </select><br><br>
        <button type="submit">Classify</button>
    </form>
</body>
</html>
